@model ApartadoAulas.Models.EdificioModel;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    Editar edificio
</div>

<div class="card-body justify-content-center">
    <form asp-action="Editar" asp-controller="Edificio" method="post">

        <div class="col-md-4 mb-3">
            <input asp-for="IdEdificio" type="hidden" class="form-control" />
            <span asp-validation-for="IdEdificio" class="text-danger"></span>
        </div>

        <div class="col-md-4 mb-3">
            <label for="Nombre">Nombre</label>
            <input asp-for="Nombre" type="text" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="col-md-4 mb-3">
            <label for="Descripcion">Descripcion</label>
            <input asp-for="Descripcion" type="text" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-primary mb-3">Guardar</button>
        </div>
    </form>
</div>