@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">Acerca de nosotros</h1>
        <p class="lead">Bienvenidos a nuestra plataforma de reserva de aulas. En ApartadoAulas, nos esforzamos por proporcionar un servicio eficiente y conveniente para la reserva de aulas en nuestra universidad.</p>
        <hr class="my-4">
        <p>Con un enfoque en la comodidad de nuestros usuarios, hemos creado una plataforma que simplifica el proceso de reserva y garantiza un acceso rápido y sencillo a las aulas disponibles.</p>
        <p>Siempre estamos trabajando para mejorar y optimizar nuestra plataforma, brindando a nuestros usuarios la mejor experiencia posible.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Más información</a>
    </div>
</div>
