body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cabecera {
    background-color: #01907e;
    color: azure;
}

.container {
    flex: 1;
}

img {
    height: 25px;
    width: 82px;
}

.footer {
    background-color: #8d8d8d;
    color: #fff;
    padding: 20px;
}

.container button {
    color: azure;
    background-color: #01907e;
}
#button {
    color: azure;
    background-color: #01907e;
}
a{
    color: black;
    text-decoration: none;
}